body {
    margin: 0;
    padding: 0;
    background: #F2E9E3;
}
header, footer {
    background: #D4B883;
    height: 150px;
}
footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.container {
    font-family: 'Pacifico', cursive;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 80px;
}
.input-txt {
    width: 600px;
}
.input-txt, .input-submit {
    font-family: 'Pacifico', cursive;
    height: 70px;
    font-size: 30px;
}
.input-submit {
    width: 250px;
}
.text-anno {
    text-align: center;
}
.content {
    font-size: 40px;
    font-family: 'Lobster', cursive;
    margin: 20px;
}
.stat-content{
    display: flex;
    gap: 50px;
}
.cat-params-select, .cat-params-input {
    text-align: center;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    width: 400px;
    height: 60px;
}
.cat-params-input {
    margin-top: 160px;
}




